<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/style.css' %}"/>
    <title>E-learning WebApp - {% block title %}Welcome!{% endblock %}</title>

</head>
<body>
<div>
    {% block body_block %} {% endblock %}
</div>

<div>
    {% if user.is_authenticated %}
        <h1> Hello {{ user.first_name }} {{ user.last_name }}</h1>
        <ul>
            <li><a href="{% url 'myapp:myaccount' %}">My Account</a></li>
            <li><a href="{% url 'myapp:logout' %}">Logout</a></li>
        </ul>

    {% else %}
        <h1> Hello User!</h1>
        <ul>
            <li><a href="{% url 'myapp:login' %}">Login</a></li>
            <li><a href="{% url 'myapp:register' %}">Register</a></li>
        </ul>
    {% endif %}
    <hr/>
    <ul>
        <li class="hbar1"><a href="/myapp/courses">Find out about our E-learning courses</a></li>
        <li class="hbar1"><a href="/myapp/about/">Find out about our E-learning website</a></li>
        <li class="hbar1"><a href="{% url 'myapp:index' %}">Click here to return to main page</a><br/></li>
    </ul>
</div>
</body>
</html>