{% extends 'myapp/base.html' %}
{% block body_block %}
    {% if detail %}
        <h1> Course Details </h1>
        <ul>
            <li>Name: {{ detail }}</li>
            <li>Price: {{ detail.price }}</li>
            <li>Interested: {{ detail.interested }}</li>
        </ul>
        <form method="post">
            {% csrf_token %}
            {{ interestForm.as_ul }}
            <button type="submit">Submit</button>
        </form>
    {% else %}
        <strong>There are no available topics!</strong>
    {% endif %}
{% endblock %}
